body{
    color: white;
    background-color: green;
}

h1 {
    text-transform: capitalize;
}

.p_pertama {
    text-align: justify;
}

.p_kedua {
    text-decoration: underline;
}

.p_ketiga {
    text-align: center;
}

.p_keempat {
    text-align: justify;
}

.p_kelima {
    text-decoration:line-through;
}